/* ================================
   RESET
================================ */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================================
   BASE
================================ */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Agenda-Semibold";
  color: #efe6dd;
  background-color: #efe6dd;
}

p {
  font-size: 150%;
  text-align: center;
  color: #14100f;
  letter-spacing: 0.15em;
}

img {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 400px;
}

.igLogo {
  width:2rem;
  height:2rem;
  filter: invert(4%) sepia(15%) saturate(825%) hue-rotate(325deg) brightness(99%) contrast(94%);
}